.logoWhatsaap {
    position: fixed;
    margin: 450px auto auto 1190px;
    & img {
        margin-top: auto;
        width: 200px;
        height: auto;
        left: 0;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
}